<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prueba</title>
</head>
<body>
<form action="/test/submit" method="post">
    <div class="input">
        <label>Time Green LED</label>
        <input name="greenTime" type="text" >
    </div>
    <div class="input">
        <label>Blink Green LED</label>
        <input name="bGreen" type="text" >
    </div>
    <div class="input">
        <label>Time Red LED</label>
        <input type="text" name="redTime">
    </div>
    <div class="input">
        <label>Blink Red LED</label>
        <input name="bRed" type="text">
    </div>
    <div class="input">
        <label>Time Yellow LED</label>
        <input type="text" name="yellowTime">
    </div>
    <div class="input">
        <label>Blink Yellow LED</label>
        <input name="bYellow"type="text">
    </div>
    <div class="input">
        <input type="Submit" value="Submit" id="sendMessage">
    </div>
</form>
</body>
</html>